.txt-legal {
    text-align: center;
    margin: 70px 50px 100px 50px;
    background-color:#abdef8 ;
    border:3px solid #adb90f ;
    padding: 10px;
    border-radius: 5px;

}

.main-info{
    height: 100%;
}

.main-info > .navbar >.navbar__burger {
background-color: #abdef8;
border:3px solid #adb90f ;
border-radius: 50%;
top: 20px;
}