.btn {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

  }
  
  .btn-solo {
    font-family: "HooliganJF";
    background-color: #abdef8;
    border: 3px solid #adb90f;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .btn-solo:hover {
    background-color: #008ba3;
  }
  
  p {
    margin: 0;
  }
  
  h2 {
    margin: 20px 0;
    text-align: center;
  }
  
  .score {
    text-align: center;
    background-color: black;
    border-radius: 20px;
    color: white;
  }

.bgquiz {
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 20px;
}
  .blue {
    background-color: blue;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }
  .ltr {
    padding: 2px;
  }
  .ltri{
    padding: 2px 4px 2px 4px;
  }


  .trait-salade {
    border: 3px solid green;
  }

  .trait-tomate {
    border:3px solid red;
  }
  .trait-pain {
    border: 10px solid orange;
  }
 .down {
    margin-top: 20px;   
 }

 main {
    max-width: 750px;
    margin: auto;
 }